<div class="card-simple" itemscope itemtype="http://schema.org/Event">

  {{- if .Params.event_types -}}
    {{- .Scratch.Set "event_type" (int (index .Params.event_types 0)) -}}
  {{- else -}}
    {{- .Scratch.Set "event_type" -1 -}}
  {{- end -}}

  {{ if .Params.image_preview }}
    {{ .Scratch.Set "image" .Params.image_preview }}
  {{ else if .Params.header.image }}
    {{ .Scratch.Set "image" .Params.header.image }}
  {{ end }}
  {{ if .Scratch.Get "image" }}
  <div>
    <a href="{{ .Permalink }}">
      {{ $img_src := urls.Parse (.Scratch.Get "image") }}
      {{ if $img_src.Scheme }}
        <img src="{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image">
      {{ else }}
        <img src="{{ "/img/" | relURL }}{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image">
      {{ end }}
    </a>
  </div>
  {{ end }}

  <h3 class="article-title" itemprop="name">
    {{- if (ge (.Scratch.Get "event_type") 1) -}}
    <i class="fa fa-calendar pub-icon" aria-hidden="true"></i>
    <a href="{{ .Permalink }}" itemprop="url">{{ index $.Site.Params.event_types (.Scratch.Get "event_type") }}</a>
    {{- end -}}
  </h3>

  <div class="talk-metadata" itemprop="startDate">
    {{ if not .Params.reschedule }}
      {{ $date := .Params.time_start | default .Date }}
      {{ (time $date).Format "Monday, Jan 2, 2006" }}
      {{ if $.Site.Params.events.time }}
        {{ (time $date).Format ($.Site.Params.time_format | default "3:04 PM") }}
        {{ with .Params.time_end }}
          &mdash; {{ (time .).Format ($.Site.Params.time_format | default "3:04 PM") }}
        {{ end }}
      {{ end }}
    {{ else }}
      To be rescheduled
    {{ end }}
  </div>

  <div class="talk-metadata" itemprop="text">
    {{ with .Params.location }}{{ . }}{{ end }}
  </div>

  {{- if (or (eq (.Scratch.Get "event_type") 1) (eq (.Scratch.Get "event_type") 2) (eq (.Scratch.Get "event_type") 5)) -}}
  <div class="talk-metadata" style="font-weight:bold">
    {{ with .Params.presenters }}
    {{ delimit . ", " | markdownify }}
    {{ end }}
  </div>
  {{- end -}}

  <div class="talk-metadata" style="{{ if (or (eq (.Scratch.Get "event_type") 3) (eq (.Scratch.Get "event_type") 4)) }}font-weight:bold{{ else }}font-style:italic{{ end }}">
    {{ .Title | markdownify }}
  </div>

  <div class="talk-metadata" itemprop="text" {{ if (or (eq (.Scratch.Get "event_type") 3) (eq (.Scratch.Get "event_type") 4)) }}style="font-style:italic"{{ end }}>
    {{ if .Params.abstract_short }}
    {{ .Params.abstract_short | markdownify }}
    {{ else }}
    {{ .Params.abstract | markdownify }}
    {{ end }}
  </div>

  <div class="talk-links">
    {{ partial "event_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
